@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hover_scale:hover {
  transform: scale(1.12);
}

.box_shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.debug {
  border: 1px solid #000000;
}
.debug1 {
  border: 1px solid green;
}
.debug2 {
  border: 1px solid #ff00dd;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
